[submodule "jie-site/themes/hermit"]
	path = jie-site/themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "jie-site/themes/ananke"]
	path = jie-site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
